<div class="header">
  <div class="tabs">
    <div class="profile-image pointer" (click)="onProfileClick()">
      <img src="{{ profileUrl }}" alt="Profile Image" />
    </div>
    <div class="pointer" (click)="onHomeClick()">
      <img
        src="{{ baseUrl }}home.svg"
        alt="Home-image"
        class="aline-home icons pointer"
      />
    </div>
    <div class="icons dmIcon pointer" (click)="onDmIconClick()">
      <img src="{{ baseUrl }}user.svg" alt="user-image" />
    </div>
    <div class="icons dmIcon pointer" (click)="onGroupIconClick()">
      <img src="{{ baseUrl }}group.svg" alt="group-image" />
    </div>
    <div class="icons pointer" (click)="onChatFusionXAiClick()">
      <img
        src="{{ baseUrl }}logo-removebg.png"
        width="30px"
        height="27px"
        alt=""
        class="icons aline ai-logo"
      />
    </div>
    <div
      (click)="onNotificationClick(); $event.stopPropagation()"
      class="pointer notification-icon"
    >
      <img
        src="{{ baseUrl }}notifications.svg"
        alt="Notifications-image"
        class="icons aline"
      />
    </div>
    <div class="pointer" (click)="onSettingClick(); $event.stopPropagation()">
      <img
        src="{{ baseUrl }}settings.svg"
        alt="Settings-image"
        class="icons aline"
      />
    </div>
    @if(role === 'admin'){
    <div
      class="pointer"
      (click)="onAdminPanelClick(); $event.stopPropagation()"
    >
      <img
        src="{{ baseUrl }}admin-panel.svg"
        alt="Admin-panel-image"
        class="icons aline"
      />
    </div>
    }
  </div>
  <div class="pointer" (click)="logOut()">
    <img src="{{ baseUrl }}logout.svg" alt="Logout-image" class="icons" />
  </div>
</div>
@if(isNotifications){
<div class="notification-container">
  @if(requests.length > 0){ @for(request of requests; let index = $index; track
  index){
  <div class="notification-card" (click)="$event.stopPropagation()">
    <div class="d-flex item-center justify-center gap-10">
      <div class="user-icon">
        <img src="{{ baseUrl }}user.png" alt="user-icon" />
      </div>
      <div class="user-header">
        <h5 class="user-name">{{ request.name }}</h5>
      </div>
    </div>
    <div class="d-flex gap-5">
      <img
        src="{{ baseUrl }}check.svg"
        width="20px"
        height="20px"
        alt="user-icon"
        class="pointer"
        (click)="acceptRequest(request)"
      />
      <img
        src="{{ baseUrl }}cancel.svg"
        width="20px"
        height="20px"
        alt="user-icon"
        class="pointer"
        (click)="rejectRequest(request)"
      />
    </div>
  </div>
  } }@else{
  <h6 class="text-center">No pending requests found.</h6>
  }
</div>
} @if(isShowProfile || isShowSetting){
<app-dialog
  (afterDialogClose)="afterDialogClose($event)"
  [isShowProfile]="isShowProfile"
  [isShowSetting]="isShowSetting"
></app-dialog>
}
