<div class="header">
  <div class="tabs">
    <div class="profile-image">
      <img
        src="{{ baseUrl }}avatar.png"
        alt="Profile Image"
      />
    </div>
    <img src="{{ baseUrl }}home.svg" alt="Home-image" class="icons" />
    <img src="{{ baseUrl }}chat.svg" alt="Chat-image" class="icons" />
    <img
      src="{{ baseUrl }}notifications.svg"
      alt="Notifications-image"
      class="icons"
    />
    <img src="{{ baseUrl }}settings.svg" alt="Settings-image" class="icons" />
  </div>
  <div class="pointer" (click)="logOut()">
    <img src="{{ baseUrl }}logout.svg" alt="Logout-image" class="icons" />
  </div>
</div>
