<div class="chat w-100 h-100 p-10">
  <div class="chat-header d-flex space-between w-100 item-center pb-5 gap-10">
    <div class="d-flex item-center justify-center gap-10">
      @if(sharedService.isMobile || type === 'ai'){
      <img
        (click)="onBackButton()"
        src="{{ baseUrl }}arrowback.svg"
        alt="Back"
      />
      }
      @if(type === 'user'){
        <div class="chat-profile">
          <img
            class="w-100 h-100"
            src="{{ baseUrl }}user.png"
            alt="profile"
          />
        </div>
        <h4 class="group-name">{{userName}}</h4>
      }@else if (type === 'group') {
        <div class="chat-profile">
          <img
            class="w-100 h-100"
            src="{{ baseUrl }}group.png"
            alt="profile"
          />
        </div>
        <h4 class="group-name">{{groupName}}</h4>
      }@else if (type === 'ai') {
        <div class="chat-profile">
          <img
            class="w-100 h-100"
            src="{{ baseUrl }}logo.png"
            alt="profile"
          />
        </div>
        <h4 class="group-name">{{userName}}</h4>
      }

    </div>
    @if (type === 'group'){
      <img (click)="shareGroupLink()" class="pointer" src="{{ baseUrl }}share.svg" alt="share" />
    }
  </div>
  @if(type === 'ai' && !isShowLoader){
  <div #chatContainer class="group-chat w-100">
    @for(message of messages;let index = $index; track index){
    <!-- User Message Div -->
    <div
      class="w-100 d-flex p-10 flex-column {{
        message.isCurrentUser ? 'item-end client-chat' : 'user-chat'
      }}"
    >
      <div class="d-flex item-center gap-5">
        @if(!message.isCurrentUser){
            <h5>{{ message.userName }}:</h5>
        }
        @if(type === 'ai'){
           @if(message.hasAiMessageLoaded){
            <span><div class="ai-message-container" [innerHTML]="message.message"></div></span>
           }@else {
            <div class="loader response"></div>
           }
        }@else {
          <span>{{ message.message }}</span>
        }
        <h6>{{ message.time }}</h6>
      </div>
    </div>
    }
  </div>

  <!-- Message Input Code -->
  <div class="message w-100 d-flex justify-center gap-10">
    <div class="message-input w-100">
      <input
        #messageInput
        (keyup)="onEnter($event)"
        type="text"
        name=""
        id=""
        placeholder="Type your message here..."
      />
    </div>
    <button (click)="sendMessage()">
      <img src="{{ baseUrl }}send.svg" alt="" />
    </button>
  </div>
}@else {
  <div class="loader-container">
    <div class="loader"></div>
  </div>
}
</div>
