.chat {
  border-radius: 10px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

.chat-header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 0px, rgba(0, 0, 0, 0.24) 0px 0px 0px;
}

.group-name{
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .group-name {
    max-width: 180px;
  }
}

.chat-profile {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-profile img {
  object-fit: cover;
}

.user-chat span {
  background-color: #6e00ff;
  font-size: small;
  max-width: 600px;
  white-space: normal;
  overflow: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

.client-chat span {
  background-color: #d7d7d7;
  font-size: small;
  max-width: 600px;
  white-space: pre-wrap;
  overflow: auto;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

.group-chat {
  max-height: calc(100% - 100px);
  min-height: calc(100% - 100px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::ng-deep .ai-message-container pre {
  overflow-x: auto !important;
  background: black !important;
  padding: 30px 20px 20px 20px !important;
  border-radius: 10px;
  color: white;
  white-space: pre-wrap;
  max-width: 100%;
}

.message {
  margin: 10px 0px;
}

.message-input input {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  border: none;
  outline: none;
  font-size: medium;
}

.message button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e00ff;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.loader-container{
  width: 100%;
  max-height: calc(100% - 100px);
  min-height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color:#6e00ff;
  display: inline-block;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.response{
  margin: 0px 0px 27px 23px;
  font-size: 5px !important;
}
