<div class="header">
  <div class="tabs">
    <div class="profile-image">
      <img
        src="https://www.w3schools.com/w3images/avatar3.png"
        alt="Profile Image"
      />
    </div>
    <img src="{{ baseUrl }}home.svg" alt="Home-image" />
    <img src="{{ baseUrl }}chat.svg" alt="Chat-image" />
    <img src="{{ baseUrl }}notifications.svg" alt="Notifications-image" />
    <img src="{{ baseUrl }}settings.svg" alt="Settings-image" />
  </div>
  <div>
    <img src="{{ baseUrl }}logout.svg" alt="Logout-image" />
  </div>
</div>
