<div class="admin-container">
  <ag-grid-angular
    style="width: 100%; height: 93%"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [theme]="theme"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef"
    [rowHeight]="35"
    [headerHeight]="40"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
  <div class="refresh-container">
    <button (click)="refresh()">
      <span>Refresh </span>
      @if(isRefresh){
      <div class="loader"></div>
      }
    </button>
  </div>
</div>
