.btn {
  padding: 7px 10px;
  background: #6e00ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-btns {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 5px 10px;
    background: #6e00ff;
    color: white;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
  }
}
