<div class="h-100 w-100 d-flex justify-center item-center">
  @if(!isLoading){
  <form
    class="d-flex item-center flex-column gap-15"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="d-flex item-center flex-column">
      <img src="{{ baseUrl }}logo.png" width="50px" height="50px" alt="" />
      <h4>ChatFusionX</h4>
    </div>
    @if(!isOtpPage){ @if(isSignUpPage){
    <div class="w-100 d-flex username">
      <img src="{{ baseUrl }}person.svg" alt="" />
      <input
        id="username"
        type="text"
        placeholder="Enter your username"
        formControlName="username"
      />
    </div>
    }
    <div class="w-100 d-flex email">
      <img src="{{ baseUrl }}email.svg" alt="" />
      <input
        id="email"
        type="text"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>
    <div class="w-100 d-flex password">
      <img src="{{ baseUrl }}password.svg" alt="" />
      <input
        id="password"
        type="password"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>
    <button [disabled]="isLoader || isForgotPassword || isGoogleLoginLoader" class="w-100">
      {{ isSignUpPage ? "Signup" : "Login" }}
      @if(isLoader){
      <div class="loader"></div>
      }
    </button>
    <button type="button" (click)="googleLogin()" [disabled]="isLoader || isGoogleLoginLoader || isForgotPassword" class="w-100 google-login-btn">
      <div class="d-flex item-center justify-center gap-5">
      <img class="google-icon" src="{{ baseUrl }}google-icon.png" alt="">
      <span>Continue with Google</span>
      </div>
    @if(isGoogleLoginLoader){
      <div class="loader1"></div>
      }
    </button>
    @if(!isSignUpPage){
      <div class="d-flex gap-5 item-center">
        <h5 class="signup" (click)="forgotPassword()">Forgot Password?</h5>@if(isForgotPassword){
          <div class="loader1"></div>
          }
      </div>
    <h5>
      Don't have account yet?
      <span class="signup" (click)="onSignUpPage()">Signup now</span>
    </h5>
    }@else{
    <h5>
      Already have an account?
      <span class="signup" (click)="onLoginPage()">Log in</span>
    </h5>
    } }@else{
    <h5>
      We've send a verification code to your email - <br />
      {{ this.profileForm.value.email }}
    </h5>
    <div class="w-100 d-flex username">
      @switch (otpValidatorIcon) { @case ('check') {
      <img src="{{ baseUrl }}shield-question.svg" alt="" />
      } @case ('lock') {
      <img src="{{ baseUrl }}shield-lock.svg" alt="" />
      } @case ('cheking') {
      <img src="{{ baseUrl }}safety-check.svg" alt="" />
      } @case ('wrong') {
      <img src="{{ baseUrl }}gapp-maybe.svg" alt="" />
      } @case ('verified') {
      <img src="{{ baseUrl }}verified-user.svg" alt="" />
      } }
      <input
        id="otp"
        [disabled]="isLoader"
        type="number"
        maxlength="6"
        (input)="onOtpEnter($event)"
        placeholder="Enter your OTP"
        formControlName="otp"
      />
    </div>
    <h5>
      Want to change your email address?
      <span class="signup" (click)="onSignUpPage()">Change Here</span>
    </h5>
    <button [disabled]="isLoader || isGoogleLoginLoader" class="w-100">
      Validate @if(isLoader){
      <div class="loader"></div>
      }
    </button>
    <h5 class="signup" (click)="resendOtp()">Resend OTP</h5>
    }
  </form>
  }@else{
   <app-loader></app-loader>
  }
</div>
