<div class="main">
 @if(!isShowLoader){
 <!-- This Code for Mobile View -->
 @if(sharedService.isMobile){ @if(!checkRoute()){
  <div class="main-group">
    <div class="search-field">
      <img src="{{ baseUrl }}search.svg" alt="" />
      <input type="text" placeholder="Search" />
    </div>

    <div class="group">
      <div class="group-title">
        <h4>Groups</h4>
        <img class="pointer" (click)="addGroup()" src="{{ baseUrl }}add-group.svg" alt="" />
      </div>
      <div class="group-list">
        @if(groupList.length === 0){
          <h4 class="h-100 d-flex justify-center item-center text-center">No groups found. Please join a group or create one.</h4>
        }@else{
          @for (group of groupList; let index = $index; track index) {
            <div (click)="onGroupClick(group, index)" class="group-card">
              <div class="group-icon">
                <img
                  src="{{ baseUrl }}group.png"
                  alt="group-icon"
                />
              </div>
              <div class="group-header">
                <h5 class="group-name">{{ group.name }}</h5>
                <span>2:13 PM</span>
              </div>
            </div>
            }
        }
      </div>
    </div>
  </div>
  } @if(checkRoute()) {
  <div class="main-chat">
    <router-outlet></router-outlet>
  </div>
  } }@else {
  <!-- This Code for Desktop View -->
  <div class="main-group">
    <div class="search-field">
      <img src="{{ baseUrl }}search.svg" alt="" />
      <input type="text" placeholder="Search" />
    </div>

    <div class="group">
      <div class="group-title">
        <h4>Groups</h4>
        <img class="pointer" (click)="addGroup()" src="{{ baseUrl }}add-group.svg" alt="" />
      </div>
      <div class="group-list">
        @if(groupList.length === 0){
          <h4 class="h-100 d-flex justify-center item-center text-center">No groups found. Please join a group or create one.</h4>
        }@else{
          @for (group of groupList; let index = $index; track index) {
            <div (click)="onGroupClick(group, index)" class="group-card">
              <div class="group-icon">
                <img
                  src="{{ baseUrl }}group.png"
                  alt="group-icon"
                />
              </div>
              <div class="group-header">
                <h5 class="group-name">{{ group.name }}</h5>
                <span>2:13 PM</span>
              </div>
            </div>
            }
        }
      </div>
    </div>
  </div>
  <div class="main-chat">
    <router-outlet></router-outlet>
  </div>
  }
@if(isShowDialog){
  <app-dialog (afterDialogClose)="afterDialogClose($event)" [isShowDialog]="true"></app-dialog>
}
 }@else {
  <app-dialog (afterDialogClose)="afterDialogClose($event)" [isShowLoader]="isShowLoader"></app-dialog>
 }
</div>
