/* You can add global styles to this file, and also import other style files */

@import url("app/common/common.css");

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
  background-color: #eff6fc;
}

img {
  user-select: none; /* Standard property */
  -webkit-user-drag: none; /* Prevent dragging in WebKit browsers */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

/* Track */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 5px;
  /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
  /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
  border-radius: 5px;
  /* Color of the scrollbar handle on hover */
}

/* ================= AG GRID ONLY ================= */
.ag-root ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 10px;
}

.ag-root ::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 10px;
}

.ag-root ::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

/* Horizontal scrollbar (optional) */
.ag-body-horizontal-scroll,
.ag-body-horizontal-scroll-viewport,
.ag-body-horizontal-scroll-container {
  min-height: 3px !important;
  max-height: 3px !important;
}

/* Vertical scrollbar */
.ag-body-vertical-scroll,
.ag-body-vertical-scroll-viewport,
.ag-body-vertical-scroll-container {
  min-width: 3px !important;
  max-width: 3px !important;
}
